@font-face {
    font-family: FontOne;
    src: url(./Assets/Font.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FontOne;
    font-weight: 400;
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0vw 3vw;
    mix-blend-mode: difference;
    z-index: 9999;
}

.lft-nav{
    font-size: 1.5vw;
    height: 6vh;
    overflow: hidden;
    cursor: pointer;
}

.lft-nav h1{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.lft-nav:hover #logo{
    margin-top: -5.5vh;
}

.rght-nav{
    font-size: 0.8vw;
    height: 3vh;
    overflow: hidden;
    cursor: pointer;
}


.rght-nav h2{
    color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.rght-nav:hover #nav-contact{
    margin-top: -3vh;
}

.part-1{
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.content-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.rotate-div{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3vw;
    width: 200vw;
    height: 200vh;
    background-color: #000;
    scale: 1;
}

.row-div{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: calc(200vw/5);
    height: 100%;
}

.img-div{
    width: 100%;
    height: calc(100%/4);
    border-radius: 10px;
    overflow: hidden;
}

.img-div img{
    width: 100%;
}

#row-div-2{
    margin-top: 13%;
}

#row-div-3{
    margin-top: 10%;
}
#row-div-4{
    margin-top: 8%;
}
#row-div-5{
    margin-top: 5%;
}

.overlay-div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000000;
    font-size: 5vw;
}
.overlay-div h1{
    opacity: 0;
}

.scroll-down{
    position: absolute;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    color: #fff;
}

.scroll-down h3{
    font-size: 0.7vw;
}

.scroll-p{
    width: 6vw;
    height: 2px;
    border-radius: 50px;
    background-color: #ffffff55;
}

.scrolling{
    width: 0vw;
    height: 2px;
    border-radius: 50px;
    background-color: #fff;
}

/* ----------part-2--------- */

.part-2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.rounded-div-wrapper{
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-top: -100px;
}

.rounded-div{
    position: absolute;
    left: 50%;
    width: 150%;
    height: 750%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%);
}

.content-2{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.text-area{
    position: absolute;
    opacity: .2;
    left: 5%;
    width: 100%;
    font-weight: 800;

}

.text-area-hover{
    position: absolute;
    left: 5%;
    opacity: 1;
}

.text-area h1, .text-area-hover h1{
    font-size: 7vw;
}

.text-area h2, .text-area-hover h2{
    margin-left: 5vw;
    font-size: 7vw;
}

.text-area-hover h1{
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden;
}

.text-area-hover h2{
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden;
}

/* -----part-3---------------- */

.part-3{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #fff;
}

.top-part-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    position: absolute;
    top: -15vh;
    width: 100%;
    height: 15vh;
}

.top-part-3 h4{
    font-size: 1.5vw;
    opacity: 0.5;
}

.cta{
    display: flex;
    gap: 1vw;
}

.cta-book{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 1.5vw 3vw;
    cursor: pointer;
}

.cta-txt{
    height: 3vh;
    color: #fff;
    overflow: hidden;
}

.cta-txt h2{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.cta-book:hover h2:nth-child(1){
    margin-top: -3vh;
}

.cta-book-2{
    background-color: #d1d1d1;
}

.cta-book-2 .cta-txt{
    color: #000;
}

.btm-part-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    background-color: #000;
}

/* ------------part-4---------- */
.part-4{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.lft-part-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    width: 50%;
    height: 100%;
}

.lft-part-4 h1{
    font-size: 8vw;
}

.cir-part-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    background-color: #f4f4f4;
    border-radius: 50%;
}

.rght-part-4{
    display: flex;
    flex-direction: column;
    gap: 40vh;
    width: 50%;
    height: 200%;
    margin-top: 25%;
    padding-left: 8vw;
}

.content-rght-part-4{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    opacity: 0;
}

.content-rght-part-4 h1{
    font-size: 2.5vw;
}

.content-rght-part-4 p{
    font-size: 1.5vw;
    width: 75%;
}
